<div class="row">
	<div class="span5">
		<%= question.prompt %>
	</div>
	<div class="span5">
		<textarea class="span5" rows="4"></textarea>
	</div>
	<div class="span2">
		<% if @editable %>
			<%= link_to edit_poll_question_path(@poll,question) do %>
				<i class="icon-edit"></i>
			<% end %>

			<%= link_to poll_question_path(@poll,question), action: :destroy, method: :delete, data: { confirm: "Are you sure you want to delete this question?" } do %>
				<i class="icon-trash"></i>
			<% end %>
		<% end %>
	</div>
</div>